# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Shape\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Shape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
